[submodule "venmo"]
	path = venmo
	url = https://github.com/Integuru-AI/Venmo-Unofficial-API
	branch = main
[submodule "robinhood"]
	path = robinhood
	url = https://github.com/Integuru-AI/Robinhood-Unofficial-API
	branch = main
a