[submodule "venmo"]
	path = venmo
	url = https://github.com/Unofficial-APIs/Venmo.git
	branch = main
	
[submodule "robinhood"]
	path = robinhood
	url = https://github.com/Unofficial-APIs/Robinhood-Unofficial-API.git
	branch = main
[submodule "ersp"]
	path = ersp
	url = https://github.com/Integuru-AI/eSRP-Unofficial-API
	branch = main

[submodule "viventium"]
	path = viventium
	url = https://github.com/Integuru-AI/Viventium-Unofficial-API
	branch = main

[submodule "heno"]
	path = heno
	url = https://github.com/Integuru-AI/Heno-Unofficial-API.git
	branch = main

[submodule "appfolio"]
	path = appfolio
	url = https://github.com/Integuru-AI/AppFolio-Unofficial-API.git
	branch = main

[submodule "calendly"]
	path = calendly
	url = https://github.com/Integuru-AI/Calendly-Unofficial-API.git

[submodule "intuit"]
	path = intuit
	url = https://github.com/Integuru-AI/Intuit-Unofficial-API
	branch = main

[submodule "brightree"]
	path = brightree
	url = https://github.com/Integuru-AI/Brightree-Unofficial-API
	branch =  main

[submodule "service_titan"]
	path = service_titan
	url = https://github.com/Integuru-AI/ServiceTitan-Unofficial-API
	branch = main

[submodule "songkick"]
	path = songkick
	url = https://github.com/Integuru-AI/Songkick-Unofficial-API.git

[submodule "bcbsal_ember"]
	path = bcbsal_ember
	url = https://github.com/Integuru-AI/BCBSAL-Unofficial-API
	branch = main

[submodule "oncoemr"]
	path = oncoemr
	url = https://github.com/Integuru-AI/OncoEMR-Unofficial-API
	branch = main

[submodule "practicefusion"]
	path = practicefusion
	url = https://github.com/Integuru-AI/PracticeFusion-Unofficial-API
	branch = main
[submodule "ecw"]
	path = ecw
	url = https://github.com/Integuru-AI/ECW-Unofficial-API.git
[submodule "office_ally"]
	path = office_ally
	url = https://github.com/Integuru-AI/OfficeAllt-Unofficial-API.git
[submodule "patreon"]
	path = patreon
	url = https://github.com/Integuru-AI/Patreon-Unofficial-API
